<h1>E-Commerce </h1>
<h3>Thank You for Shopping</h3>
<p> Your order is successful with order id <%= @your_cart.id%> and total amount of <%= @your_cart.total_price %> &#36;</p>

<p> Your Order will be deliveres at your door-step soon!!</p>

